<a id="bookmarklet"
   href="javascript:void(location.href='{{ context_site_main_url() }}?tb='+encodeURIComponent(location.href))"
   data-toggle="popover"
   data-content="Drag the link to your bookmarks toolbar.">
    <span class="glyphicon glyphicon-tag"></span> Bookmark me!
</a>
