<li role="presentation">
    <a role="menuitem" href="https://github.com/jeboehm/uh.cx">
        uh.cx on github
    </a>
</li>

<li role="presentation">
    <a role="menuitem" href="https://github.com/jeboehm/uhcx-php-lib">
        PHP library
    </a>
</li>

<li role="presentation">
    <a role="menuitem" href="https://github.com/jeboehm/uhcx-python-lib">
        Python library
    </a>
</li>
